argh==0.26.2
certifi==2017.7.27.1
chardet==3.0.4
future==0.16.0
gpiozero==1.4.0
idna==2.5
imageio==2.2.0.dev0
JSON-log-formatter==0.2.0
observer==0.1.0
pathtools==0.1.2
Pillow==2.6.1
psutil==5.3.0
python-apt==0.9.3.12
PyYAML==3.12
requests==2.18.3
RPi.GPIO==0.6.3
speedtest-cli==1.0.6
uber-rides==0.4.1
urllib3==1.22
watchdog==0.8.3
